<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}
{% block free %}
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
