{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 my-5 py-5 text-center">
            <h1>HACKATHON 3 : CULTURATHON</h1>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
