@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import "navbar";

body {
  background-color: #0e0e0e;
}

//////////
//COLOR
/////////
$pink: #e83e8c;
$hover-grey: #212121;

///////////
//TEXT
//////////

h1, h2, h3, h4, h5, h6 {
  color: $pink;
}

//////////////
//NAVBAR
/////////////

nav {
  min-height: 55px;
}
.navbar {
  font-size: 0.5em;
}

.navbar-brand {
  flex-grow: 0;
}

//
//drops
//
.drop {
  flex-grow: 0;
  .btn-drop {
    background-color: $pink;
  }
  .dropdown-menu {
    background-color: $pink;
    .dropdown-item {
      color: #ffffff;
    }
    .dropdown-item:hover {
      background-color: $hover-grey;
    }
  }
}

.dropup {
  @extend .drop;
}

.dropdown {
  @extend .drop;
}

.lg-drop {
  font-size: 1.1rem;
}

///////////
//BUTTON
//////////

.btn-warning {
  background-color: $pink;
}

.btn-warning:hover {
  @extend .btn-warning;
  color: $hover-grey;
}

///////////
//CARD-RAPH
//////////

.card {
  background-color: transparent;
}

.card-body {
  text-align: justify;
}

.resume {
  text-align: justify;
}

.center-pills {
  display: flex;
  text-align: left;
}

.objeFit {
  margin-top: 0;
  max-height: 10vm;

}
.nav-link2{
  background-color: $hover-grey;
  color:white;

}
.selectedPills{
  color: $pink;
}
.nav-link:hover{
  background-color: $hover-grey;
  color:white;
}
.nav-pills {

  .nav-item {
    background-color: $hover-grey;
    padding: 5px;
  }

  a {
    color: white;
  }
  .nav-link.active {
    background-color: black;

  }
  .pills-tabContent{
    display: none;
  }

}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

///////////
//MediaQuery
//////////
@media (min-width: 1200px) {
  body {
    padding-top: 5em;
    .navbar {
      font-size: 0.8rem;
      .navbar-brand {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 1199px) {
  body {
    padding-top: 2em;
    .navbar {
      font-size: 1rem;
      .navbar-brand {
        font-size: 1rem;
      }
    }
  }
}
@media (max-width: 980px) {
#collapseHidden{
  display:none;
}
  body{
    margin-bottom: 50vh;
  }
}