@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import "navbar";

body {
  background-color: #0e0e0e;
  padding-bottom: 5em;
  padding-top: 5em;
}
//////////
//COLOR
/////////
$pink: #e83e8c;
$hover-grey: #212121;


///////////
//TEXT
//////////

h1, h2, h3, h4, h5, h6 {
  color: $pink;
}

//////////////
//NAVBAR
/////////////

.navbar-brand {
  flex-grow: 2;
}
//
//drops
//
.drop {
  flex-grow: 0;
  .dropdown-menu {
    background-color: $pink;
    font-size: 1rem;
    .dropdown-item {
      color: #ffffff;
    }
    .dropdown-item:hover {
      background-color: $hover-grey;
    }
  }
}

.dropup {
  @extend .drop;
}

.dropdown {
  @extend .drop;
}

.lg-drop {
  font-size: 1.09375rem;
}

///////////
//BUTTON
//////////

.btn-warning {
  background-color: $pink;
}

.btn-warning:hover {
  @extend .btn-warning;
  color: $hover-grey;
}

///////////
//CARD-RAPH
//////////

.card {
  background-color: transparent;
}
