@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import "navbar";

body {
  background-color: #0e0e0e;
}
//////////
//COLOR
/////////
$pink: #e83e8c;
$hover-grey: #212121;


///////////
//TEXT
//////////

h1, h2, h3, h4, h5, h6 {
  color: $pink;
}

//////////////
//NAVBAR
/////////////

.navbar {
  font-size: 0.5em;
}

.navbar-brand {
  flex-grow: 0;
}
//
//drops
//
.drop {
  flex-grow: 0;
  .dropdown-menu {
    background-color: $pink;
    .dropdown-item {
      color: #ffffff;
    }
    .dropdown-item:hover {
      background-color: $hover-grey;
    }
  }
}

.dropup {
  @extend .drop;
}

.dropdown {
  @extend .drop;
}

.lg-drop {
  font-size: 1.09375rem;
}

///////////
//BUTTON
//////////

.btn-warning {
  background-color: $pink;
}

.btn-warning:hover {
  @extend .btn-warning;
  color: $hover-grey;
}

///////////
//CARD-RAPH
//////////

.card {
  background-color: transparent;
}
.card-body{
  text-align: justify;
}

.resume{
  text-align: justify;
}
.center-pills {
  display: flex;
  justify-content: center;
}
.nav-pills {

  .nav-item {
    background-color: $hover-grey;
    padding: 5px;
  }

  a{
    color: white;
  }
  .nav-link.active{
    background-color: black;

  }
}

///////////
//MediaQuery
//////////
@media (min-width: 1280px) {
  body {
    padding-top: 5em;
    .navbar {
      font-size: 0.5rem;
      .navbar-brand {
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 1179px) {
  body {
    padding-top: 1em;
    .navbar {
      font-size: 0.8rem;
      .navbar-brand {
        font-size: 1.09375rem;
      }
    }
  }
}