{% extends 'base.html.twig' %}
{% block page_title %}
    Le concept
{% endblock %}
{% block body %}
    <div class="row">
        <p>
            L'Atelier des Lumières ouvre ses porte ce vendredi 13 avril 2018. Filez découvrir ce Centre d'Art Numérique
            installé dans une ancienne fonderie du XIXe. Totalement immergés dans les projections de tableaux des grands
            artistes sur les façades en béton, on en reste bouche-bée. Découvrez les lieux qui s'ouvrent sur une
            première
            exposition sur l'oeuvre de Klimt et les artistes viennois.<br>
            Après des mois de travaux, la fonderie de fer créée en 1835 par la famille PLICHON s'est transformée en un
            lieu
            fou : l'Atelier des Lumières, premier Centre d'Art Numérique à Paris. Avec le même procédé AMIEX® que celui
            des
            Carrières des Lumières à Baux-en-Provence (sa grande soeur au succès fou, plus de 600.000 personnes y
            passent <br>
            chaque année), l'Atelier des Lumières présentera des expositions immersives, comme on en voit rarement !
            Imaginez rentrer dans les œuvres des plus grands artistes et vivre les sensations qu'ils ont voulu nous
            partager
            sur 2000m², grâce à 140 vidéoprojecteurs et une sonorisation spatialisée (50 enceintes à directivité
            contrôlée
            Nexo), pour des expositions immersives comme celle de Imagine Van Gogh à la Villette.Cette ouverture à
            Paris, on
            la doit à Culturespaces et son directeur Bruno Monnier, qui explique : « Le rôle d’un centre d’art est de
            décloisonner, et c’est pourquoi le numérique doit prendre sa place dans les expositions du XXIe siècle. Mis
            au <br>
            service de la création, il devient un formidable vecteur de diffusion, capable de créer des passerelles
            entre
            les époques, de faire vibrer les pratiques artistiques entre elles, d’amplifier les émotions, de toucher le
            plus
            grand nombre ».
        </p>
    </div>
{% endblock %}